# Example Notebook

**Simple Scripts**

Youu can write simple scripts in Python and run them directly in the notebook.

In [1]:
print('Hello, World!')

Hello, World!

You can import external libraries (like Pandas) and use them in your scripts.

In [2]:
import pandas as pd
df = pd.read_csv('example.csv')
df

,id,first_name,last_name,email,gender,ip_address
0,1,Allys,Midlane,amidlane0@smh.com.au,Female,143.176.110.86
1,2,Wiatt,Marle,wmarle1@cyberchimps.com,Male,192.173.156.37
2,3,Aluino,Pallaske,apallaske2@vimeo.com,Agender,49.134.48.229
3,4,Korney,Cabel,kcabel3@hexun.com,Female,175.119.166.144
4,5,Raoul,Nugent,rnugent4@slashdot.org,Male,62.249.2.86
...,...,...,...,...,...,...
995,996,Merrick,Derbyshire,mderbyshirern@jimdo.com,Male,202.10.128.203
996,997,Erick,Beel,ebeelro@cdc.gov,Polygender,41.247.198.78
997,998,Marilyn,Lamzed,mlamzedrp@nasa.gov,Female,216.145.78.120
998,999,Cyndi,Stringer,cstringerrq@cargocollective.com,Female,57.213.254.188
999,1000,Ade,Maggi,amaggirr@bluehost.com,Male,68.205.86.178

You can use basic text formatting to make your document more readable.

# Heading 1
## Heading 2
### Heading 3

**bold text** 

*italicized text*

`code block`

[link](http://www.google.com)

Bullet List
* Item 1
* Item 2
* Item 3

Numbered List
1. Item 1
1. Item 2
1. Item 3